.btn-learn-more
  padding 10px 30px
  background marigold
  border none
  color light-navy
  font-size: 18px
  font-weight: 700
  text-transform: uppercase
  font-family: mainFont

.btn-large
  text-transform: uppercase
  font-size: 35px
  font-weight: 900
  background: transparent
  font-family: mainFont
  cursor: pointer
  border: none

.btn-large--discover
  margin-top: 40px
  color: white
  border: 2px solid white
  padding: 15px 40px

.btn-large--solutions
  padding: 10px 55px
  background: marigold
  color: white

.btn-large--find-career
    padding: 8px 95px
    background: marigold
    color: light-navy
    Text-Style-5()


.btn-video-player-home
  height: 135px
  width: 135px
  background: black
  opacity: 0.8
  border-radius: 50%
  border: 2px solid marigold
  position: relative
  &:focus
    outline: none
