@font-face {
  font-family: 'DINOT';
  src: url('../fonts/DINOT.eot?#iefix') format('embedded-opentype'),  url('../fonts/DINOT.otf')  format('opentype'),
	     url('../fonts/DINOT.woff') format('woff'), url('../fonts/DINOT.ttf')  format('truetype'), url('../fonts/DINOT.svg#DINOT') format('svg');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'DINOT-Cond';
  src: url('../fonts/DINOT-Cond.eot?#iefix') format('embedded-opentype'),  url('../fonts/DINOT-Cond.otf')  format('opentype'),
	     url('../fonts/DINOT-Cond.woff') format('woff'), url('../fonts/DINOT-Cond.ttf')  format('truetype'), url('../fonts/DINOT-Cond.svg#DINOT-Cond') format('svg');
  font-weight: normal;
  font-style: normal;
}

Text-Style-39()
  font-family DINOT-Cond
  font-size 100px
  font-weight 900

Text-Style-7()
  font-family DINOT-Cond
  font-size 70px
  font-weight 900
  line-height 1.09
  text-align center

Text-Style-9()
  font-family DINOT-Cond
  font-size 70px
  font-weight 900
  line-height 1.09
  text-align left

Text-Style-28()
  font-family DINOT-Cond
  font-size 60px
  font-weight 900
  line-height 0.6
  text-align center

Text-Style-17()
  font-family DINOT-Cond
  font-size 60px
  font-weight 900
  text-align left

Text-Style-37()
  font-family DINOT-Cond
  font-size 60px
  font-weight 900

Text-Style-23()
  font-family DINOT-Cond
  font-size 48px
  font-weight 900
  line-height 1.17
  text-align left

Text-Style-13()
  font-family DINOT-Cond
  font-size 48px
  font-weight 900
  line-height 1.33
  text-align left

Text-Style-2()
  font-family DINOT-Cond
  font-size 48px
  font-weight 900
  line-height 1.19
  text-align left

Text-Style-25()
  font-family DINOT-Cond
  font-size 36px
  font-weight 900
  line-height 1
  text-align left

Text-Style-5()
  font-family DINOT-Cond
  font-size 35px
  font-weight 900

Text-Style-12()
  font-family DINOT-Cond
  font-size 32px
  font-weight 900
  line-height 1.13
  text-align left

Text-Style-36()
  font-family DINOT-Cond
  font-size 32px
  font-weight 900
  line-height 1.88
  text-align left

Text-Style-16()
  font-family DINOT-Cond
  font-size 28px
  font-weight 900
  line-height 2.29
  text-align left

Text-Style-20()
  font-family DINOT-Cond
  font-size 28px
  font-weight bold
  text-align left

Text-Style-38()
  font-family DINOT-Cond
  font-size 28px
  font-weight bold

Text-Style-29()
  font-family DINOT
  font-size 28px
  font-weight 500
  line-height 1.64
  text-align center

Text-Style-11()
  font-family DINOT-Cond
  font-size 26px
  font-weight 900
  text-align left

Text-Style-32()
  font-family DINOT
  font-size 26px
  font-weight 500
  line-height 1.54
  text-align left

Text-Style-33()
  font-family DINOT
  font-size 26px
  font-weight 500
  line-height 1.54
  text-align left

Text-Style-8()
  font-family DINOT-Cond
  font-size 25px
  font-weight 900

Text-Style-40()
  font-family DINOT
  font-size 25px
  font-weight 500
  text-align left

Text-Style-15()
  font-family DINOT
  font-size 25px
  font-weight 500
  line-height 1.48
  text-align center

Text-Style-27()
  font-family DINOT-Cond
  font-size 24px
  font-weight 900
  line-height 1.5
  text-align left

Text-Style-14()
  font-family DINOT
  font-size 24px
  font-weight bold
  line-height 1.21
  text-align left

Text-Style-26()
  font-family DINOT
  font-size 24px
  font-weight bold
  line-height 1.42
  text-align left

Text-Style-18()
  font-family DINOT
  font-size 24px
  font-weight 500
  line-height 1.25
  text-align center

Text-Style-31()
  font-family DINOT
  font-size 24px
  font-weight 500
  line-height 1.5
  text-align center

Text-Style-42()
  font-family DINOT-Cond
  font-size 23px
  font-weight 900

Text-Style-24()
  font-family DINOT
  font-size 21px
  font-weight 500
  line-height 1.62
  text-align center

Text-Style-3()
  font-family DINOT-Cond
  font-size 20px
  font-weight 900

Text-Style-4()
  font-family DINOT
  font-size 20px
  font-weight 500

Text-Style()
  font-family DINOT
  font-size 20px
  font-weight 500
  line-height 1.45
  text-align left

Text-Style-21()
  font-family DINOT-Cond
  font-size 18px
  font-weight 900

Text-Style-34()
  font-family DINOT
  font-size 18px
  font-weight bold
  line-height 1.61
  text-align left

Text-Style-10()
  font-family DINOT
  font-size 18px
  font-weight 500
  text-align left

Text-Style-41()
  font-family DINOT
  font-size 17px
  font-weight 500
  line-height 1.47
  text-align left

Text-Style-6()
  font-family DINOT
  font-size 16px
  font-weight 500

Text-Style-19()
  font-family DINOT
  font-size 15px
  font-weight 500
  line-height 1.67
  text-align left

Text-Style-35()
  font-family DINOT
  font-size 14px
  font-weight bold
  line-height 2.07
  text-align left

Text-Style-22()
  font-family DINOT
  font-size 14px
  font-weight 500
  line-height 1.36
  text-align left

Text-Style-30()
  font-family DINOT
  font-size 14px
  font-weight 500
  text-align left

Text-Style-43()
  font-family DINOT
  font-size 13px
  font-weight 500
